@import url('https://fonts.googleapis.com/css2?family=Marcellus&display=swap');
*, *:after, *:before {
  box-sizing: border-box; 
  font-size: inherit;
}

* {
  border: 0;
  margin: 0;
  padding: 0;
}

body, html {
  border: none; 
  font-family: 'Marcellus', serif;
  color: var(--grey);
  overflow-x: hidden;
}

li {
	list-style: none outside none;
}

a {
	text-decoration: none;
}

::selection {
  background-color: var(--grey);
  color: var(--white);
}

button::-moz-focus-inner {
  border: 0;
  cursor: pointer;
}

section .btn, 
.btn {
  position: relative;
  -webkit-transition: all 200ms linear;
  transition: all 200ms linear;
  cursor: pointer;
  border-radius: 50px;
  height: 40px;
}

section .btn, 
.btn a{
  color: var(--grey);
}

input:-webkit-autofill,
input:-webkit-autofill:active,
input:-webkit-autofill:focus,
input:-webkit-autofill:hover {
	transition: color 5000s ease-in-out 0s, background-color 5000s ease-in-out 0s;
	-webkit-text-fill-color: var(--grey-b)!important;
  color: var(--grey-b)!important;
}

input:required {
	box-shadow: none;
}

input:invalid {
	box-shadow: 0 0 0 transparent;
}

input::placeholder {
  color: var(--grey-b);
  font-size: 14px;
}

select.select-field {
  background-image: url(../images/arr-select.png);
  background-repeat: no-repeat;
  background-position: calc(100% - 20px) calc(1em + 2px), calc(100% - 15px) calc(1em + 2px), 100% 0;
}
input:focus, input:focus-visible, select:focus, select:focus-visible {
  outline: 1px solid var(--yellow);
}

select {
	appearance: none;
}

:root {
	--light-grey: #F3F3F3;
  --midd-grey:#EDF0F2;
  --grey: #3F3F3F;
  --grey-b: #BDBDBD;
	--white: #ffffff;
	--green: #05DA27;
  --blue: #1C90F5;
  --yellow: #FFD11B;
  --red: #E94D46;
  --shadow:#C4C4C4;
  --h1:64px;
  --h2:48px;
  --h3:36px;
  --h4:28px;
  --h5:20px;
  --h6:18px;
  --p:24px;
}

.container{
  max-width: 1140px;
  margin: 0 auto;
}

.section h2{
  font-size: var(--h2);
  position: relative;
  padding-left: 8rem;
}

.section h2::before {
  content: '';
  width: 100px;
  height: 2px;
  background-color: var(--blue);
  display: inline-block;
  position: absolute;
  top: 25px;
  left: 0;
}

.section h3{
  font-size: var(--h3);
}

/* Top */

.top-section{  
  position: relative;
  z-index: 2;
}

.top-section .header{  
  height: 60px;
  background-color: var(--light-grey);
}

.top-section .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 0.4rem;
}

.top-section .coll-contact {
  display: flex;
  align-items: center;
}

.top-section .button-call {
  border: 2px solid var(--red);
  border-radius: 50px;
  margin-right: 3rem;
}

.top-section .button-call a {
  color: var(--red);
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 900;
  text-align: center;
  padding: 0.7rem 4em;
  display: block;
}

.top-section .phone {
  padding-right: 3rem;
  padding-top: 0.2rem;
  font-weight: 900;
  color: var(--grey);
}

.top-section .s-network a {
  padding-left: 0.5rem;
}

/* Banner */

.banner-section {
  position: relative;
  height: 100vh;
  background-color: var(--midd-grey);
  min-height: 960px;
}

.banner-section .img-home{
  position: absolute;
  top: -70px;
  right: 0;
}

.banner-section h1 {
  font-size: 110px;
  text-align: center;
  color: var(--blue);
  line-height: 8rem;
}

.banner-section .grid-content{
  display: flex;
  flex-wrap: wrap;
  margin-top: 10rem;
  justify-content: center;
}

.banner-section .grid-content p{
  font-size: 24px;
  text-align: center;
  max-width: 58%;
  margin-top: 3rem;
}

.banner-section .grid-content .med-booking{
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 2rem;
}

.banner-section .grid-content .med-booking .btn {
  width: 170px;
  text-align: center;
  padding-top: 0.7rem;
  font-size: 12px;
  text-transform: uppercase;
  font-weight: 900;
}

.banner-section .grid-content .med-booking .btn-request{
  background-color: var(--yellow);
  margin-right: 2rem;
  border: 2px solid var(--yellow);
}

.banner-section .grid-content .med-booking .btn-schedule{
  border: 2px solid var(--yellow);
}

.banner-section .grid-content .med-booking .btn-request span,
.banner-section .grid-content .med-booking .btn-schedule span {
  background: url(../images/arr-btn.svg);
  width: 20px;
  height: 20px;
  background-repeat: no-repeat;
  position: absolute;
  right: 12px;
  top: 9px;
}

/* Top menu */

.banner-section .main-menu{
  margin: 0 auto;
  display: inline-block;
  width: 100%;
  height: 100px;
}

.banner-section .main-menu .menu-top{
  display: flex;
  text-align: left;
}

.banner-section .main-menu .menu-top li {
  padding-right: 5rem;
  margin-top: 3rem;
}

.banner-section .main-menu .menu-top a{
  color: var(--grey);
  text-transform: uppercase;
  font-size: 18px;
  font-weight: 900;
}

/* Section block-2 */

.block-2-section {
  position: relative;
}

.block-2-section .grid-content{
  display: flex;
  margin: 6rem 0;
}

.block-2-section .coll-1{
  flex: 0 0 50%;
  margin-top: 2rem;
  position: relative;
}

.block-2-section .icon-b2 {
  position: absolute;
  z-index: -1;
  transform: rotate(90deg);
  bottom: -17rem;
}

.block-2-section .coll-2{
  flex: 0 0 50%;
}

.block-2-section .top-content p{
  font-size: 16px;
  padding-top: 2rem;
}


/* Section block-3 */

.block-3-section{
  padding: 6rem 0;
  background-color: var(--light-grey);
}

.block-3-section h3{
  padding-bottom: 3rem;
}

.block-3-section .grid-content{
  display: flex;
  flex-wrap: wrap;
}

.block-3-section .form-consultation input{
  padding: 0.6rem 2rem;
  border-radius: 30px;
  border: 1px solid #e0e0e0;
  font-family: 'Marcellus', serif;
}

.block-3-section .form-consultation .form-input-container {
  margin-right: 3rem;
  margin-bottom: 3rem;
}

.block-3-section .form-consultation .form-input-container p{
  padding-left: 2rem;
  padding-bottom: 1rem;
}

.block-3-section .form-consultation .select-field {
  padding: 0.6rem 3rem 0.6rem 2rem;
  border-radius: 30px;
  border: 1px solid #e0e0e0;
  color: var(--grey);
}

.block-3-section .form-consultation .select-field option[value] { 
  font-size: 16px;
  color: var(--grey);
  padding: 1rem;
  display: inline;
}

.block-3-section .button-concultation { 
  background-color: var(--yellow);
  margin-right: 2rem;
  border: 2px solid var(--yellow);
}

.block-3-section .button-form { 
    display: flex;
    align-items: center;
    margin-top: -0.7rem;
}


/* Section block-4 */

.block-4-section .grid-content {
  display: flex;
  align-items: flex-start;
  padding-top: 8rem;
  padding-bottom: 8rem;
}

.block-4-section .grid-content .coll-0 {
  flex: 0 0 55%;
  margin-right: 2rem;
  margin-top: 5rem;
}

.block-4-section .grid-content .coll-service {
  flex: 0 0 50%;
  display: flex;
  flex-wrap: wrap;
}

.block-4-section .grid-content p{
 font-size: var(--h2);
}

.block-4-section p span {
  color: var(--blue);
}

.block-4-section .btn-all {
  display: flex;
  align-items: center;
  margin: 1rem 0;
}

.block-4-section .btn-all a {
  color: var(--grey);
  font-size: 14px;
  padding-right: 1rem;
}

.block-4-section .btn-all span {
  margin-top: 0.4rem;
}

.block-4-section .coll-service .coll-1 {
  background-color: var(--light-grey);
  width: 275px;
  height: 275px;
  border-radius: 10rem 1rem 1rem 1rem;
  margin-right: 1rem;
  margin-bottom: 1rem;
  margin-top: 5rem;
  position: relative;
}

.block-4-section .coll-service .coll-1 .wrap{
  position: absolute;
  right: 2rem;
  top: 3rem;
  text-align: right;
}

.block-4-section .coll-service .coll-1 .wrap img{
  padding-bottom: 0.6rem;
}

.block-4-section .coll-service .coll-2 {
  background-color: var(--yellow);
  width: 275px;
  height: 275px;
  border-radius: 1rem 10rem 1rem 1rem;
  position: relative;
}

.block-4-section .coll-service .coll-2 .wrap {
  position: absolute;
  left: 2rem;
  top: 3rem;
  text-align: left;
}

.block-4-section .coll-service .coll-2 .wrap img{
  padding-bottom: 0.6rem;
}

.block-4-section .coll-service .coll-3 {
  background-color: var(--light-grey);
  width: 275px;
  height: 275px;
  border-radius: 1rem 1rem 1rem 10rem;
  margin-right: 1rem;
  position: relative;
}

.block-4-section .coll-service .coll-3 .wrap{
  position: absolute;
  right: 2rem;
  top: 3rem;
  text-align: right;
}

.block-4-section .coll-service .coll-3 .wrap img{
  padding-bottom: 0.6rem;
}

.block-4-section .coll-service .coll-4 {
  background-color: var(--light-grey);
  width: 275px;
  height: 275px;
  border-radius: 1rem 1rem 10rem 1rem;
  margin-top: -5rem;
  position: relative;
}

.block-4-section .coll-service .coll-4 .wrap {
  position: absolute;
  left: 2rem;
  top: 3rem;
  text-align: left;
}

.block-4-section .coll-service .coll-4 .wrap img{
  padding-bottom: 0.6rem;
}

.block-4-section .coll-service p {
  font-size: var(--h6);
  text-transform: uppercase;
}

/* Section block-5 */

.block-5-section  {
  background-color: var(--light-grey);
  padding: 6rem 0;
}

.block-5-section .sort-d {
  display: flex;
  justify-content: space-between;
  margin-top: 3rem;
  margin-bottom: 4rem;
}

.block-5-section .sort-d .select-field {
  padding: 0.6rem 3rem 0.6rem 2rem;
  border-radius: 30px;
  border: 1px solid #e0e0e0;
  color: #BDBDBD;
}

 .block-5-section .sort-d .select-field option { 
  font-size: 16px;
  color: var(--grey);
}

.block-5-section .sort-d .select-field option[value="title"] { 
  color: var(--grey);
}

.block-5-section .sort-d .form-input-container p {
  padding-left: 2rem;
  padding-bottom: 1rem;
}

.block-5-section .grid-content{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.block-5-section .grid-content .coll {
  margin: 0 0 3rem 0;
  flex: 0 0 25%;
}

.block-5-section .grid-content .content .title {
 font-size: var(--h6);
}
.block-5-section .grid-content .content .desc {
  color: #BDBDBD;
 }

 .block-5-section .grid-content .navigator{
  margin: 0 auto;
  display: flex;
 }
 
 .block-5-section .grid-content .navigator span {
  font-size: var(--h6);
  margin: 2rem 1.5rem;
}

.block-5-section .grid-content .navigator span.activ {
 color: var(--blue);
 position: relative;
}

.block-5-section .grid-content .navigator span.activ:before {
  content: '';
  border: 1px solid var(--blue);
  border-radius: 50px;
  width: 50px;
  height: 50px;
  display: block;
  position: absolute;
  left: -20px;
  top: -12px;
}

/* Section block-6 */

.block-6-section .grid-content {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.block-6-section h2 {
  margin-top: 8rem;
  margin-bottom: 4rem;
}

.block-6-section .grid-content .coll {
  padding-top: 3rem;
  padding-right: 6rem;
  padding-bottom: 3rem;
  flex: 0 0 33%;
}

.block-6-section .grid-content .coll img {
  width: 50px;
  height: 50px;
}

.block-6-section .grid-content .coll .title {
  padding: 2rem 0;
  font-size: var(--h6);
}

.block-6-section .grid-content .coll .desc {
  font-size: 16px;
  line-height: 1.6rem;
}

.block-6-section .coll-team{
  background-color: var(--light-grey);
  padding: 3rem 0;
}

.block-6-section .coll-team h2 {
  margin-top: 2rem;
  margin-bottom: 4rem;
  padding-left: 0;
  flex: 0 0 30%;
}

.block-6-section .coll-team h2:before {
  content: '';
 display: none;
}

.block-6-section .img-plus{
  flex: 0 0 15%;
  margin: 0 auto;
}

.block-6-section .coll-team .coll {
  padding-top: 3rem;
  padding-right: 6rem;
  padding-bottom: 3rem;
  flex: 0 0 40%;
}

/* Section block-7 */

.block-7-section  {
  padding: 6rem 0;
}

.block-7-section h2 {
  margin-bottom: -10rem;
  width: 45%;
  padding-bottom: 10rem;
}

.block-7-section .grid-content {
  display: flex;
  justify-content: space-evenly;
}

.block-7-section .grid-content .coll-1, .block-7-section .grid-content .coll-2 {
  box-shadow: 0 0 2rem var(--shadow);
  padding: 3rem;
  flex: 0 0 38%;
  max-height: 570px;
  min-height: 570px; 
}

.block-7-section .grid-content .coll-1{
  margin-top: 6rem;
}

.block-7-section .grid-content .coll-1 h5,
.block-7-section .grid-content .coll-2 h5{
  text-align: center;
  text-transform: uppercase;
  padding-bottom: 1rem;
}

.block-7-section .grid-content .coll-1 .desc,
.block-7-section .grid-content .coll-2 .desc{
  text-align: center;
  padding-bottom: 2rem;
  font-size: 16px;
}

.block-7-section .grid-content .separation{
  border-top: solid 2px var(--blue);
  width: 25%;
  height: 2px;
  text-align: center;
  margin: 0 auto;
  padding-bottom: 2rem;
}

.block-7-section .grid-content .list-s{
  margin-left: 2rem;
}

.block-7-section .grid-content .list-s li {
  background-image: url(../images/check-mark.svg);
  background-repeat: no-repeat;
  padding-left: 1.6rem;
  padding-bottom: 1rem;
  background-position: 0 5px;
}

/* Section block-8 */

.block-8-section {
  padding: 6rem 0;
  background-color: var(--light-grey);
}

.block-8-section .grid-content{
  display: flex;
  flex-wrap: wrap;
}

.block-8-section .grid-content .coll {
  flex: 0 0 33%;
  padding-right: 1.5rem;
  margin-bottom: 4rem;
}

.block-8-section .grid-content .coll img {
  box-shadow: 0 0 2rem var(--shadow);
  width: 544px;
  height: 362px;
  border-radius: 5px;
}

.block-8-section .grid-content .coll:nth-child(1) {
 margin-top: 10rem;
}

.block-8-section .grid-content .coll:nth-child(4) {
  margin-top: -10rem;
 }

 .block-8-section h2 {
  margin-top: 3rem;
}

.block-8-section .grid-content .coll .content {
  padding-top: 1.5rem;
}

.block-8-section .grid-content .coll .content .desc{
  font-size: 16px;
}

/* Section block-9 */

.block-9-section {
  background-image: url(../images/world-map-png-14.png);
  background-repeat: no-repeat;
  background-size: auto;
  background-position: center 60px;
  padding-bottom: 6rem;
}

.block-9-section .grid-content{
  display: flex;
}

.block-9-section .coll-1{
  padding: 6rem 0;
}

.block-9-section .coll-1 .coll{
  padding-bottom: 1.5rem;
}

.block-9-section .grid-content .title{
  font-size: var(--h4);
  padding-bottom: 3rem;
}

.block-9-section .coll-1 p{
  padding-bottom: 0.5rem;
}

.block-9-section .coll-1 h2{ 
  margin-top: 3rem
}

.block-9-section .coll-1 p.ads{
  color: var(--blue);
  width: 80%;
  padding-top: 1rem;
}

.block-9-section .coll-2 {
  padding-top: 12rem;
  position: relative;
  width: 95%;
}

.block-9-section .coll-2 .map-nav-1,
.block-9-section .coll-2 .map-nav-2,
.block-9-section .coll-2 .map-nav-3{
  background-image: url(../images/map-nav.svg);
  background-repeat: no-repeat;
  background-position: 14px center;
  background-color: var(--white);
  padding: 0.6rem 3rem;
  border-radius: 30px;
  box-shadow: 0 0 10px 0px rgb(28 144 245 / 40%);
}

.block-9-section .coll-2 .map-nav-1 {
  position: absolute;
  left: 27%;
  top: 45%;
}

.block-9-section .coll-2 .map-nav-2 {
  position: absolute;
  left: 54%;
  top: 50%;
}

.block-9-section .coll-2 .map-nav-3 {
  position: absolute;
  left: 33%;
  top: 66%;
}

.block-9-section .coll-2 .map-nav-1:before,
.block-9-section .coll-2 .map-nav-2:before,
.block-9-section .coll-2 .map-nav-3:before {
  content: '';
  clip-path: polygon(50% 40%, 0% 100%, 100% 100%);
  position: absolute;
  background-color: var(--white);
  width: 25px;
  height: 25px;
  top: 38px;
  left: 28px;
  transform: rotate(180deg);
}

.block-9-section .coll-2 img{
  max-width:100%;
}

/* Section footer */

.block-footer {
background-color: var(--midd-grey);
padding: 6rem 0;
position: relative;
}

.block-footer .grid-content{
  display: flex;
}

.block-footer .grid-content .coll-1,
.block-footer .grid-content .coll-2,
.block-footer .grid-content .coll-3{
  padding-right: 8rem;
}

.block-footer .grid-content a.logo{
  padding-bottom: 2rem;
  display: block;
}

.block-footer .grid-content .coll-1 .coll{
  padding-bottom: 1.5rem;
}

.block-footer .grid-content .title{
  font-size: var(--h6);
  padding-bottom: 3rem;
  margin-top: 2rem;
}

.block-footer .grid-content .menu-footer a{
  color: var(--grey);
  font-size: 14px;
}

.block-footer .grid-content .menu-footer li{
  padding-bottom: .5rem;
}

.block-footer .copyright {
  background-color: var(--light-grey);
  padding: 1rem 0;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  box-shadow: 0 0 2rem -1rem var(--shadow);
}

.block-footer .copyright p{ 
 text-align: center;
}